<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
    <div class ="showcase">
        <h1>About<span class = "green-text">planner</span></h1>
        <p>a simpleapp made with exoress</p>
        <p> version 1.0</p>
        
    </div>

<%- include('./layout/footer') %>