
<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
   
    <div class ="showcase">
        <h1>Welcome to Express<span class = "green-text"></span></h1>
        <p>a simpleapp with Express</p>
        <p> record your planner</p>
        <a href="/planner">Open your expresss notepad</a>
    </div>
<%- include('./layout/footer') %>
