
<header>
    <div class = "container">
        <a href="/" class="logo">Express <span class="green-text">planner</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/planner">Go to Planner</a></li>
            </ul>
        </nav>    
    </div>
</header>
